{% extends 'base.html' %}

{% load static %}
{% block meta %}
<meta name="author" content="SemiColonWeb" />
<meta name="description" content="" />

<title> Palm Pavilion Banquet | About us</title>
{% endblock meta %}
{% block about %}
<!-- Page banner
		============================================= -->

<section id="slider" class="slider-element dark parallax include-header" style="background: #111 url('{% static 'demos/recipes/images/about/bg.png' %}') center center / cover no-repeat; padding: 230px 0;" data-0="background-position:0px -200px;" data-400="background-position:0px -100px;">

    <div class="container clearfix">
        <div class="mx-auto center" style="max-width: 800px">
            <h1 class="nott fw-bold  display-5" data-animate="zoomIn">A place where food, design, and ambiance come together to create a memorable experience.</h3>
        </div>
        {% comment %} <div class="d-flex justify-content-center align-items-center mt-3 clearfix">
            <a class="button button-circle button-large text-white mb-0 ms-0" href="#footer" data-animate="zoomIn">Reserve Now</a>
        </div> {% endcomment %}
        
    </div>

</section>

<!-- #page-banner end -->

<!-- Content
		============================================= -->
<section id="content">

	<div class="content-wrap pb-0">

		<div class="section bg-transparent p-0">
			<div class="container">
				<div class="row align-items-center clearfix">
					<div class="col-md-6">
						<h2 class="nott mb-5">We Serve The Best Quality Food</h2>
						<p>The directors of Palm Pavilion Banquet and Restaurant opened the doors to the residents of Lusaka on 22nd February 2022 to accomplish the directors’ passion and dream of managing beautiful, sophisticated and enjoyable events for the residents of Lusaka. The catering menu boasts flavors of the North Indian frontier including a variety of kebabs and curries that will serve to spice up any event.
							
							</p>
						<p>The Banquet Hall roars with pride to host a variety of events from weddings, engagement parties, birthdays, business conferences and more. We aim at providing a fully facilitated service to clients and ensure a stress-free event – let us manage it for you!</p>
						<div class="clear"></div>
						<div class="d-flex flex-row mt-3">
							
							<div>
								<a href="https://facebook.com/semicolonweb" target="_blank"
									class="social-icon si-small si-colored si-facebook" title="Facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="https://twitter.com/__semicolon" target="_blank"
									class="social-icon si-small si-colored si-twitter" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								<a href="https://www.youtube.com/semicolonweb" target="_blank"
									class="social-icon si-small si-colored si-youtube" title="youtube">
									<i class="icon-youtube"></i>
									<i class="icon-youtube"></i>
								</a>
								<a href="https://www.instagram.com/semicolonweb" target="_blank"
									class="social-icon si-small si-colored si-instagram" title="instagram">
									<i class="icon-instagram"></i>
									<i class="icon-instagram"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 mt-5 mt-md-0">
						<div class="about-img position-relative px-4">
							<img src="{% static 'demos/recipes/images/about/1-1.jpg'%}" alt="About Image">
							<img src="{% static 'demos/recipes/images/about/1.jpg'%}" alt="About Image">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clear"></div>
	
 <div class="section bg-light mb-0 mt-3" style="padding: 100px 0">
			<div class="container">
				<div class="heading-block center mx-auto" style="max-width: 700px">
					<h2 class="mb-3">Our Services</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veniam quam incidunt eos eaque
						esse ducimus dolore, velit, laborum dignissimos?</p>
				</div>
				<div class="clear"></div>
				<div class="row align-items-stretch justify-content-center">
					{% comment %} <div class="col-md-6 col-lg-4 mt-4">
						<div class="card border-0 shadow-sm h-100">
							<div class="card-body p-5">
								<div class="feature-box flex-column fbox-light fbox-plain">
									<div class="fbox-icon mx-0 bottommargin-sm">
										<img src="{% static 'demos/recipes/images/icons/award.svg'%}" alt="Icon"
											style="height: 60px">
									</div>
									<div class="fbox-content">
										<h3 class="ls0 nott mb-4">#1 Recipes Story Website</h3>
										<p>Compellingly supply mission-critical imperatives for functional
											meta-services. Completely parallel task distributed materials.</p>
									</div>
								</div>
							</div>
						</div>
					</div> {% endcomment %}
					<div class="col-md-6 col-lg-4 mt-4">
						<div class="card border-0 shadow-sm h-100">
							<div class="card-body p-5">
								<div class="feature-box flex-column fbox-light fbox-plain">
									<div class="fbox-icon mx-0 bottommargin-sm">
										<img src="{% static 'demos/recipes/images/icons/cuisine.svg'%}" alt="Icon"
											style="height: 60px">
									</div>
									<div class="fbox-content">
										<h3 class="ls0 nott mb-4">Resturants</h3>
										<p>Continually iterate resource-leveling applications through next-generation
											manufactured products. Quickly transform technically sound.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 mt-4">
						<div class="card border-0 shadow-sm h-100">
							<div class="card-body p-5">
								<div class="feature-box flex-column fbox-light fbox-plain">
									<div class="fbox-icon mx-0 bottommargin-sm">
										<img src="{% static 'demos/recipes/images/icons/menu.svg'%}" alt="Icon"
											style="height: 60px">
									</div>
									<div class="fbox-content">
										<h3 class="ls0 nott mb-4">Banquet</h3>
										<p>Synergistically conceptualize e-business services before cross-unit methods
											of empowerment. Continually target collaborative.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 

		{% comment %} <div class="section m-0 bg-transparent py-5">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center">
					<div class="flex-fill p-3"><a href="#"><img
								src="{% static 'demos/conference/images/sponcors/cnn.svg'%}" alt="Brands"></a></div>
					<div class="flex-fill p-3"><a href="#"><img
								src="{% static 'demos/conference/images/sponcors/github.svg'%}" alt="Brands"></a></div>
					<div class="flex-fill p-3"><a href="#"><img
								src="{% static 'demos/conference/images/sponcors/google.svg'%}" alt="Brands"></a></div>
					<div class="flex-fill p-3"><a href="#"><img
								src="{% static 'demos/conference/images/sponcors/paypal.svg'%}" alt="Brands"></a></div>
					<div class="flex-fill p-3"><a href="#"><img
								src="{% static 'demos/conference/images/sponcors/vimeo.svg'%}" alt="Brands"></a></div>
					<div class="flex-fill p-3"><a href="#"><img
								src="{% static 'demos/conference/images/sponcors/slack.svg'%}" alt="Brands"></a></div>
				</div>
			</div>
		</div> {% endcomment %}
		

		<div class="section m-0 center dark"
			style="background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('{% static 'demos/recipes/images/about/2.jpg'%}') no-repeat center center / cover; padding: 120px 0;">
			<div class="container">
				<blockquote class="blockquote text-center border-0 m-auto" style="max-width: 700px">
					<h2 class="h1 fw-bold text-capitalize" style="line-height: 1.4">To get the best results, you must
						talk to your Vegetables.</h2>
					
				</blockquote>
			</div>
		</div>
	</div>
</section><!-- #content end -->

{% endblock about %}