{% extends 'base.html' %}

{% load static %}
{% block meta %} 
<meta name="author" content="SemiColonWeb" />
<meta name="description" content="" />

<title> Palm Pavilion Banquet | Services</title>
{% endblock meta %}	
{% block services %}


<!-- #page-title -->
<section id="slider" class="slider-element dark parallax include-header" style="background: #111 url('{% static 'demos/recipes/images/recipe-single.jpg' %}') center center / cover no-repeat; padding: 230px 0;" data-0="background-position:0px -200px;" data-400="background-position:0px -100px;">

    <div class="container clearfix">
        <div class="mx-auto center" style="max-width: 800px">
            <h1 class="nott fw-bold mb-5 display-4" data-animate="zoomIn">The Right Ingredients for the Right Food.</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3 clearfix">
            <a class="button button-circle button-large text-white mb-0 ms-0" href="#reserve" data-animate="zoomIn">Reserve Now</a>
        </div>
        {% comment %} <div class="mx-auto center" style="max-width: 900px">
            <div class="slider-features" data-animate="zoomIn" data-delay="300">
                <ul class="list-unstyled row g-0 align-items-center overflow-hidden col-mb-50 mt-5">
                    <li class="col-6 col-lg text-center text-lg-start">
                        <div class="grid-inner px-5">
                            <img src="demos/recipes/images/icons/level.svg" alt="Level" width="30">
                            <h5 class="mb-0">Beginner Level</h5>
                        </div>
                    </li>

                    <li class="col-6 col-lg text-center text-lg-start">
                        <div class="grid-inner px-5">
                            <img src="demos/recipes/images/icons/timer.svg" alt="Timer" width="30">
                            <h5 class="mb-0">40 Mins</h5>
                        </div>
                    </li>

                    <li class="col-6 col-lg text-center text-lg-start">
                        <div class="grid-inner px-5">
                            <img src="demos/recipes/images/icons/ingredients.svg" alt="Ingredients" width="30">
                            <h5 class="mb-0">9 Ingredients</h5>
                        </div>
                    </li>

                    <li class="col-6 col-lg text-center text-lg-start">
                        <div class="grid-inner px-5">
                            <img src="demos/recipes/images/icons/star.svg" alt="Reviews" width="30">
                            <h5 class="mb-0">223 Reviews</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div> {% endcomment %}
    </div>

</section><!-- #page-title end -->

<div class=" mb-0" style="padding-top: 50px">
	<div class="container">
		<div class="row clearfix">
			<div class="heading-block center col-md-6 facil">
				<h2 class="mb-3">A place for lots of gathering</h2>
				<p>Palm Pavilion believes that every occasion should be timeless and unforgettable. Whether it's a wedding, corporate event, birthday party or social event, we organize it all in our banquet hall. At each event, we transform our banquet hall into a new one. From the smallest detail in decoration to pampering our guests with delectable cuisine, we create a memorable customer experience through exceptional customer service, expert event planning and prioritizing customer needs.</p>
			</div>
		</div>
		
		
	</div>
</div>


<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row align-items-center justify-content-between">
						<div class="col-md-5">
							{% comment %} <i class="icon-food icon-3x mb-3"></i> {% endcomment %}
							<h3 class="h1 fw-bold mb-4">Restaurant</h3>
							<p>Guests can enjoy a variety of meals from the restaurant menu while seated at a table comfortably, in a spacious dining hall.
								Our Chaat Menu is available Friday to Sunday only, and we have No Smoking policy inside the building and No Alcohol allowed on the premises.
							</p>
							<p>
								<ul class="list-unstyled">Our Opening hours
								<li>
									Lunch: Wednesday to Sunday 12pm to 3pm
								</li>
								<li>
									Dinner: Tuesday to Sunday 6pm to 10pm
								</li>
								
								</ul>
							</p>

						 <a href="#reserve" class="button button-large  button-rounded">Reserve Now</a> 
						</div>

						<div class="col-md-6 p-6">
							<!-- Grid row -->
							<div class="row gutter-10" data-lightbox="gallery">

								<div class="col-4">
									<a href="{% static 'demos\restaurant\images\gallery\food\1.jpg' %}" data-lightbox="gallery-item">
										<img class="img-fluid h-op-09 op-ts" src="{% static 'demos\restaurant\images\gallery\food\1.jpg' %}" alt="Image">
									</a>
								</div>
								<div class="col-8">
									<a href="{% static 'demos\restaurant\images\gallery\restaurant\2.jpg' %}" data-lightbox="gallery-item">
										<img class="img-fluid h-op-09 op-ts" src="{% static 'demos\restaurant\images\gallery\restaurant\2.jpg' %}" alt="Image">
									</a>
								</div>
								<div class="col-8">
									<a href="{% static 'demos\restaurant\images\gallery\restaurant\4.jpg' %}" data-lightbox="gallery-item">
										<img class="img-fluid h-op-09 op-ts" src="{% static 'demos\restaurant\images\gallery\restaurant\4.jpg' %}" alt="Image">
									</a>
								</div>
								<div class="col-4">
									<a href="{% static 'demos\restaurant\images\gallery\food\1.jpg' %}" data-lightbox="gallery-item">
										<img class="img-fluid h-op-09 op-ts" src="{% static 'demos\restaurant\images\gallery\food\1.jpg' %}" alt="Image">
									</a>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>
		</section>

        <section id="BANQUET">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row align-items-center justify-content-between">
						

						<div class="col-md-6 p-6">
							<!-- Grid row -->
							<div class="row gutter-10" data-lightbox="gallery">

								<div class="col-4">
									<a href="{% static 'demos\restaurant\images\gallery\food\1.jpg' %}" data-lightbox="gallery-item">
										<img class="img-fluid h-op-09 op-ts" src="{% static 'demos\restaurant\images\gallery\food\1.jpg' %}" alt="Image">
									</a>
								</div>
								<div class="col-8">
									<a href="{% static 'demos\restaurant\images\gallery\restaurant\2.jpg' %}" data-lightbox="gallery-item">
										<img class="img-fluid h-op-09 op-ts" src="{% static 'demos\restaurant\images\gallery\restaurant\2.jpg' %}" alt="Image">
									</a>
								</div>
								<div class="col-8">
									<a href="{% static 'demos\restaurant\images\gallery\restaurant\4.jpg' %}" data-lightbox="gallery-item">
										<img class="img-fluid h-op-09 op-ts" src="{% static 'demos\restaurant\images\gallery\restaurant\4.jpg' %}" alt="Image">
									</a>
								</div>
								<div class="col-4">
									<a href="{% static 'demos\restaurant\images\gallery\food\1.jpg' %}" data-lightbox="gallery-item">
										<img class="img-fluid h-op-09 op-ts" src="{% static 'demos\restaurant\images\gallery\food\1.jpg' %}" alt="Image">
									</a>
								</div>

							</div>
						</div>

                        <div  class="col-md-5">
							{% comment %} <i class="icon-food icon-3x mb-3"></i> {% endcomment %}
							<h3 class="h1 fw-bold mb-4">Banquet</h3>
							<p>The Restaurant’s Dining area is converted into a spacious and luxurious banquet hall upon booking. Guests can enjoy a warm classic ambiance for a party of 550 people. It is advised for guests to make bookings two weeks in advance.</p>
							<p>
								<ul class="list-unstyled">Services We offer
								<li>
									Hire of Banquet Hall only.
								</li>
								<li>
									Hire of Banquet Hall with tables and chairs.
								</li>
								<li>
									Hire of Banquet Hall with tables, chairs, high-table and stage.
								</li>
								<li>
									Hire of Banquet Hall with tables, chairs, high-table, stage and moderate decorations.
								</li>
								<li>
									Hire of Banquet Hall with tables, chairs, high-table, stage and full and heavy color coordinated event decorations.
								</li>
								<li>
									Hire of Banquet Hall with tables, chairs, high-table, stage, full and heavy color coordinated event decorations with catering.
								</li>
								<li>
									As an add-on Hire of conference projector, music, speaker, and microphone system.
								</li>
								
								</ul>
							</p>
							<a href="tel:+260 966 617 252" class="button button-large  button-rounded ">Call us</a> 
						</div>
					</div>

				</div>

			</div>
		</section><!-- #content end -->




{% endblock services %}
